.main_content
    // Background em vermelho apenas para poder visualizar o componente melhor
    background-color: #404040

    // Deixa o componente a esquerda da pagina
    float: left
    height: 100vh 
    width: 30vh
    // Distância do ASIDE para o FEED (Checar no WireFrame qual a distância exata)
    margin-right: 1em
    .btn
            width: 60%
            height: 50px
            background: #404040
            color: white
            border: none
            margin-left: 3.5em
            margin-top: 1em

    .btn2
            width: 60%
            height: 50px
            border-radius: 100px
            background: #4D3666
            color: white
            border: none
            margin-left: 3.5em
            margin-top: 1em
