.main-content
    background-color: gray
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    .login-page
        background-color: white
        display: flex
        padding: 48px 110px
        flex-direction: column
        align-items: center
        border-radius: 15px
        gap: 56px
        .logo
            width: 85px
            height: 85px
            margin-top: 48px
        .login-text
            text-align: center
            h1
                margin-bottom: 16px
        .login_form
            .login
                margin-bottom: 40px
