.main-content
    background-color: gray
    display: flex
    justify-content: center
    align-items: center
    height: 100vh
    .register-page
        background-color: blue
        padding: 7rem
        display: flex
        flex-direction: column
        align-items: center
        .logo
            width: 85px
            height: 85px
            margin-top: 48px
            margin-bottom: 56px
            gap: 56px
        .register-text
            text-align: center
            h1
                margin-bottom: 16px
            margin-bottom: 56px
        .register_form
            input
                margin-bottom: 40px
