.main
    .feed
        display: flex
        flex-direction: row
        flex-wrap: wrap
        padding-left: 20px

    .title
        margin: 50px 0px 5px 300px
        font-size: 30px
        color: #fff
        padding-left: 20px

    .divider
        border-bottom: 2px solid #404040
        width: 1350px
        margin: 18px 320px