.main
    .settings
        color: #fff
        h1
            // margin-top: 34px
            // margin-left: 320px
            // margin-bottom: 42px
            margin: 34px 0px 42px 320px
            font-size: 50px
        .options
            .list
                display: flex
                flex-direction: column
                margin-left: 320px
                li
                    //box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25)
                    //padding: 35px

                    display: flex
                    justify-content: space-between
                    margin-bottom: 64px
                    .button
                        margin-right: 80px
                    .desc
                        h2
                            font-size: 18px
                            margin-bottom: 12px
                        select
                            width: 366px
                            height: 61px
                            flex-shrink: 0
                            border-radius: 25px
                            color: #5A5A5F
                            font-family: Poppins
                            font-size: 18px                
                            padding: 14px 112px 15px 16px