*{
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

input:focus,
textarea:focus {
outline: none;
}

a,
button {
text-decoration: none;
transition: 0.4s;
font-size: 1em;
cursor: pointer;
color: inherit;
font-weight: bold;
} 

a:hover,
nav button:hover {
color: #4e4e4e;
}

li{
  list-style-type: none;
}